#landing-page {
    /* background: rgb(24, 24, 24); */
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh !important;
    width: 100vw;
    margin: 0;
}


.greetings {
    margin: 0;
    position: relative;
    top: 25%;
    left: 10%;
    width: 700px;
    animation: 1s slide-up;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Animations */
@keyframes slide-up {
    from {
        top: 40%;
    }
    to {
        top: 25%;
    }
}

.hi {
    color: rgb(74, 120, 248);
    font-size: 25px;
}

.name {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
}

.designation {
    color: whitesmoke;
    font-size: 25px;
}

.resume {
    margin-top: 20px;
    padding: 10px 8px;
    border: none;
    outline: none;
    background: rgb(74, 120, 248);
    border-radius: 5px;
}

.resume a {
    color: whitesmoke;
    text-decoration: none;
    transition: transform .2s; 
}

.resume:hover {
    background: rgb(36, 94, 252);
    transition: all 0.2s ease-out;
    box-shadow: 0 0 10px rgb(36, 94, 252);
    transform: scale(1.05) !important;
}

#media-links {
    margin: 20px 0;
}


#media-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#media-links ul li {
    padding: 6px 0;
    margin: 0 10px;
}


.fa, .fab {
    color: rgb(211, 211, 211) !important;
    transition: transform .2s;
    background: rgb(51, 51, 51);
}

.fa:hover, .fab:hover {
    color: rgb(36, 94, 252) !important;
    transition: 0.2s all ease-in;
}

/* .fa:hover, .fab:hover {
    transform: scale(2);
    
} */

.links {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin: 5px 0;
    box-sizing: border-box;
    box-shadow: 0 0px 8px rgb(255, 255, 255);
    background: rgb(51, 51, 51);
    transition: 0.4s;
}

.links:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.links .fa, .links .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: black;
    border-radius: 50%;
    line-height: 50px;
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    .greetings {
        margin: 0;
        position: relative;
        top: 25%;
        left: 5%;
        width: 90vw;
    }

    .hi {
        font-size: 20px;
    }

    .name {
        font-size: 40px;
    }

    .designation {
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .greetings {
        margin: 0;
        position: relative;
        top: 25%;
        left: 5%;
        width: 90vw;
    }

    .hi {
        font-size: 18px;
    }

    .name {
        font-size: 30px;
    }

    .designation {
        font-size: 18px;
    }
}