#landing-page {
    background: rgb(24, 24, 24);
    height: 100vh;
    width: 100%;
    margin: 0;
}

.greetings {
    margin: 0;
    position: relative;
    top: 25%;
    left: 10%;
    width: 700px;
}

.hi {
    color: rgb(74, 120, 248);
    font-size: 25px;
}

.name {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
}

.designation {
    color: whitesmoke;
    font-size: 25px;
}

.resume {
    margin-top: 20px;
    padding: 10px 8px;
    border: none;
    outline: none;
    background: rgb(74, 120, 248);
    border-radius: 5px;
}

.resume a {
    color: whitesmoke;
    text-decoration: none;
}

.resume:hover {
    background: rgb(36, 94, 252);
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 800px) {
    .greetings {
        margin: 0;
        position: relative;
        top: 25%;
        left: 5%;
        width: 90vw;
    }

    .hi {
        font-size: 20px;
    }

    .name {
        font-size: 40px;
    }

    .designation {
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .greetings {
        margin: 0;
        position: relative;
        top: 25%;
        left: 5%;
        width: 90vw;
    }

    .hi {
        font-size: 18px;
    }

    .name {
        font-size: 30px;
    }

    .designation {
        font-size: 18px;
    }
}