.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans;
    font-size: 18px;
    height: 70px;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: -6px;
    z-index: 100;   
    animation: 1s slide-down;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: inherit;
}

/* Animations */
@keyframes slide-down {
    from {
        margin-top: -10%;
    }
    to {
        margin-top: 0;
    }
}

.toggle-btn {
    color: whitesmoke;
    position: absolute;
    top: 17px;
    right: 50px;
    cursor: pointer;
    display: none;
    text-decoration: none !important;
    transition: all 0.2s ease-out;
}

.brand-div {
    position: absolute;
    left: 5%;
    height: 50px;
    width: 50px;
    color: rgb(74, 120, 248);
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 10px rgb(74, 120, 248);
    box-shadow: 0 0 20px rgb(74, 120, 248);
    border-radius: 50% !important;
    user-select: none;
}

.brand-div:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid rgb(74, 120, 248);
    border-right: 3px solid rgb(74, 120, 248);
    border-radius: 50%;
    animation: animateCircle 2s linear infinite;
}

@keyframes animateCircle {
    0% {
        transform: rotate(170deg);
    }
    100% {
        transform: rotate(530deg);
    }
}

.brand:hover {
    text-decoration: none;
    color: rgb(74, 120, 248) !important;
}

.navbar-links {
    margin-right: 50px;
    position: absolute;
    right: 1%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links a {
    text-decoration: none;
    color: whitesmoke;
    margin: 10px;
    padding: 5px;
    display: block;
}

.navbar-links a:hover {
    color: rgb(74, 120, 248);
    transition: 0.2s ease-in;
    text-shadow: 0 0 10px rgb(74, 120, 248);
    
}

.navbar-links-mobile {
    display: none;
    background:rgb(29, 29, 29);
}

@media (max-width: 950px) {
    .navbar-links {
        display: none;
    }

    .toggle-btn {
        display: block;
    }

    .navbar-links-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links-mobile ul {
        margin-top: 50px;
        list-style: none;
        padding: 10px 0;
    }

    .navbar-links-mobile li {
        padding: 15px 0;
        text-align: center;
    }

    .navbar-links-mobile a {
        color: whitesmoke;
        text-decoration: none;
    }

    .navbar-links-mobile a:hover {
        color: rgb(74, 120, 248);
        transition: all 0.2s ease-out; 
        text-shadow: 0 0 10px rgb(74, 120, 248);
    }
}
    