.footer-div {
    background: rgb(24, 24, 24);
    color: whitesmoke;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1.7px;
    font-family: sans;
    padding: 15px 0;
}

#github, #linkedin {
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 600px) {
    span {
        font-size: 15px;
    }
}